<html>
    <head>
        <title>
            la libreria
        </title>
    </head>
    <header>
        <h1>
            LIBRERIA
        </h1>
    </header>
    <body>
        <div>
            <p>
                La libreria più fornita d'Italia
            </p>
        </div>
        <div>
            <input type="search" id="cerca">
            <button onclick="Cerca()"></button>   
        </div>
        
        <script type=text/javascript src="../static/script.js"></script>
        <div style="display: none;" id=" mod">
            <input type="text" id="inputmod">
        </div>
    </body>

</html>