<html>
    <script type=text/javascript src="../static/script.js"></script>
    <head>
        <title>
            la libreria
        </title>
    </head>
    <header>
        <h1>
            LIBRERIA
        </h1>
    </header>
    <body>
        <div>
            <p>
                La libreria pi&uacute; fornita d'Italia
            </p>
        </div>
        <div>
            <input type="search" id="cerca">
            <button onclick="Cerca()"></button>   
        </div>
        <button onclick="Tutto()">Vedi tutto</button>
        <button onclick="Inserisci()">Inserisci</button>
        <button onclick="Mod()">Modifica</button>
        <div id="out" style="display: none;"></div>
        
        <div style="display: none;" id=" mod">
            <input type="text" id="inputmod">
            <button onclick="Mod1()"></button>
        </div>
    </body>

</html>