<html>
    <head>
        <title>
            la libreria
        </title>
    </head>
    <header>
        <h1>
            LIBRERIA
        </h1>
    </header>
    <body>
        <div class="sottotitolo">
            <p>
                La libreria più fornita d'Italia
            </p>
        </div>
        <input type="search" id="cerca">
        <button onclick="Cerca()"></button>    
        <script type=text/javascript src="{{url_for('static', filename='js/Meteo.js')}}"></script>








        <div style="display: none;" id=" mod">
            <input type="text" id="inputmod">
        </div>
    </body>

</html>